@import url('font-awesome.css');

html
{
   font-family: 'Open Sans', sans-serif !important;
}

body {  
	-webkit-font-smoothing: antialiased;
	-webkit-justify-content: space-between;
	padding:0;
	margin:0;
}

.container-fluid>.nav-header {
	margin: 0 !important;
}

h1 {
	margin-top: -0.2em;
	text-align: center;
	/*text-shadow: 0 0 2px #000;*/
}


.req {
	color:#c00;
}
.navigation {
	height: 20vh;
}


.navigation.other,
.navigation.Register {
	height: 90px !important;
}

section.admin .container {
	margin: 20px auto;
	background: #fff;
	box-shadow: 0 10px 20px #000;
}

.navigation-inverse{
	background:url(../img/cover.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.navigationbar-brand{
	vertical-align: middle;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color : #f75405  !important;
	font-size: 0.9em;
	font-weight: 600;
}

.menu-desktop{
	display: inline-block;
	position:absolute;
	vertical-align: middle;
	/*float: right;*/
	top:-3.1em;
	right:9.5em;
	text-align: center;
	/*top:0.15em;******/
	/*font-size:0.5em !important;
	font-weight:400;*/
	height:40px;
	width:112px;
}

.menu-desktop2{
	display: inline-block;
	position:absolute;
	vertical-align: middle;
	/*float: right;*/
	top:-3.1em;
	right:1.1em;
	text-align: center;
	/*top:0.15em;******/
	/*font-size:0.5em !important;
	font-weight:400;*/
	height:40px;
	width:112px;
}

.menu-desktop > a {
	/*padding-right:2px;*/
}

.menu-desktop.prompt {
	color:#fff;
	margin: 12px 0 0 0;
}



.navbar-default {
	/*background: none;
	border:0;*/;
}

.btn-toggle-sidenav{
    z-index: 1000;
    position: fixed;
    /* margin: 0.7em 0em 0em -4em; */
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    top: 2.2em;
    /* text-indent: 2.5em; */
    font-size: 1.5em;
    color: transparent;
    background: transparent;
}

/*default*/
.row {margin-right: 0px; margin-left: 0px;}
#flashMessage{
	display: none;
}

.row .calendar{
/* 	padding-top: 20px; */
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

/*Top*/

#menu-desktop{
    opacity: 1;
}

#menu-mobile{
   	opacity:0;
}

#menu-mobile2{
   	opacity:0;
}

.read-desktop{
   	opacity:1 !important;
   	height:100% !important;
   	width:100% !important;
   	visibility: visible !important;
}

.read-mobile{
   	opacity:0 !important;
   	height:0 !important;
   	width:0 !important;
   	visibility: collapse !important;
}

.cover	{
	/*position: relative;*/
}

.cover-img{
	position:relative;
	width:100%;
	height: 100vh;
	background:url(../img/cover.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.cover-img2 {
	position:relative;
	width:100%;
	height: 100vh;
	background:url(../img/cover.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	/*-webkit-filter: blur(1px);
	filter: url('/media/blur.svg#blur');
	filter: blur(1px);*/
}

.cover-img3{

	position: relative;
    width: 100%;
    height: 100vh;
    background:url(../img/datasets/1-2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 99;
}

.cover-img4{
	position:relative;
	width:100%;
	height: 100vh;
	background:url(../img/datasets/1-1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	/*-webkit-filter: blur(1px);
	filter: url('/media/blur.svg#blur');
	filter: blur(1px);*/
}

.cover-img5{
	position:relative;
	width:100%;
	height: 100vh;
	background:url(../img/datasets/1-2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	/*-webkit-filter: blur(1px);
	filter: url('/media/blur.svg#blur');
	filter: blur(1px);*/
}

.cover-img6{
	position:relative;
	width:100%;
	height: 100vh;
	background:url(../img/datasets/1-1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	/*-webkit-filter: blur(1px);
	filter: url('/media/blur.svg#blur');
	filter: blur(1px);*/
}

.noblur{
	-webkit-filter: blur(0px);
	filter: url('/media/blur.svg#blur');
	filter: blur(0px);
}

/*.cover-in{
	position: absolute;
	width: 100%;
    top: 0;
}*/

.content-nav{
	padding-top: 50px;
	/*margin-left:-10px;*/
}

.content-nav2{
	vertical-align: middle;
	padding-top:30px;
	/*padding-top: 30px;
	margin-left:-25px;*/
}

.content-nav3{
	padding-top: 8px;
	margin-left:-23px;
}

.navigation .container {
	padding:0;
}

.logo-nav-text{
	font-family: 'Open Sans', sans-serif;
	color : #f75405 ;
	font-size: 2.30em;
	font-weight: 600;
}

.logo-nav-text a{
	color : #f75405 ;
	text-decoration: none;
}

.logo-nav-text a:hover{
	color : #f75405 ;
	text-decoration: none;
}

.logo-nav-text a:focus{
	color : #f75405 ;
	text-decoration: none;
}

.row.collapsed-nav{
	display: flex;
	position: absolute;
	margin: 50px 0px;
}

.row.collapsed-nav a{
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	margin-right: 15px;
	margin-left: 15px;
	padding: 15px 15px;
	font-weight: 600;
	display: none;
}

.row.collapsed-nav a:hover{
	text-decoration: none;
}

.a-login{
	display: inline-block;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	padding-top:5px 10px;
	font-weight: 600;
}

.a-login:hover{
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
}

.a-login:focus{
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
}

.a-nav{
	display: inline-block;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	padding-top:0.8em;
	/*padding:5px 15px 5px 15px;*/
	margin-right: 15px;
	font-weight: 600;
	text-shadow: 1px 1px 4px #f75405 ;
}

.a-nav:hover{
	/*text-decoration: none;*/
	color: #ffffff;
	cursor: pointer;
}

.a-nav:focus{
	text-decoration: none;
	color: #ffffff;
	cursor: pointer;
}

.text-cover {
	/*margin-top: 15%;*/
	position: relative;
	/*top:25vh;*/
	vertical-align: middle;
	text-align:center;
}

.text-cover p{
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 3.47em;
}


.text-cover2 {
	margin-top: 15%;
	text-align:center;
	position: absolute;
}

.text-cover2 p{
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 3.47em;
}

/*End Top*/

/*main*/
section.overview{
	background: #ffffff;
}

.content-title-overview{
	display: inline-block;
}

.content-title-overview div{
	height: 2px;
    background: #f75405 ;
    margin: 0px 20%;
}

.content-title-overview2{
	display: block;
}

.content-title-overview2 div{
	height: 2px;
    background: #f75405 ;
    margin: 0px 35%;
}

.title-overview{
	font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #323233;
    font-size: 1.4em;
    margin: 0px;
    display: inline-block;
    padding-bottom: 16px;
    padding-top: 75px;
}

.description-overview{
	color: #f75405 ;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.8em;
	/*margin-top: 40px;
	margin-bottom: 40px;*/
}

.white {
	color:#fff;
	background:#f75405 ;
	font-style: normal;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.forewhite {
	color:#fff;
	font-style: normal;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.text-medium{
	font-size: 1.5em;
}

.number-step{
	color: #f75405 ;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 2.30em;
}

.img-center{
	margin-right: auto;
	margin-left: auto;
}

.item-step{
	margin-bottom: 50px;
}

.title-step {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1.35em;
	color: #323233;
}

.no-padding.content-description{
	padding-left: 15px;
	padding-right: 30px;
}

.no-padding.content-description{
	padding-left: 15px;
	padding-right: 15px;
}

.description-step {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.13em;
	color: #797979;
}

.no-padding{
	padding: 0px;
}
/*end main*/

/*datasets*/
.cover-img3-dataset{
	position:relative;
	width:100%;
	/*height: 100vh;*/
	/*height:100%;*/
	background:url(../img/datasets/1-2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.description-about-datasets{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align : justify;
	font-size: 1.2em;
	color: #ccc;
	/*color: #797979;*/
	margin-bottom:30px;
	text-shadow: 0 0 2px #000;
}

section.datasets{
	background: #ffffff;
}

.description-datasets{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align : justify;
	font-size: 1.2em;
	color: #797979;
	margin-bottom:30px;
	/*text-shadow: 0 0 2px #000;*/
}

.description-about{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align : justify;
	font-size: 1.2em;
	color: #ccc;
	/*color: #797979;*/
	margin-bottom:30px;
	text-shadow: 0 0 2px #000;
}
.ih-item.square{
	width: 100%;
	height: auto;
	border: none;
	box-shadow: none;
}

.ih-item.square.effect11 .info{
    background: #f75405 ;
}

.ih-item.square.effect11 .info h3 {
    text-transform: none;
    color: #ffffff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	background: none;
	font-size: 1.6em;
	margin-bottom: 10px;
}

.ih-item.square.effect11 .info p {
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: none;
    text-align: justify;
    font-size: 1em;
    color: #ffffff;
    padding-top: 30px;
    line-height: 1.4em;
}

.line-info-back-datasets{
	height: 2px;
    background: #FD751D;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

.div-front-absolute-dataset{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.div-front-absolute-dataset h3{
	margin-top: 21%;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background: none;
    margin-bottom: 17px;
    font-size: 1.8em;
}

.div-front-absolute-dataset p{
	margin-top: 3%;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: none;
    font-size: 1.3em;
    padding: 0% 5%;
}

.div-front-absolute-dataset .read-more-dataset{
	margin-bottom: 3%;
	color: #f75405 ;
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background: none;
    font-size: 1.3em;
    margin-top: 10%;
}

.div-front-absolute-dataset .read-more-dataset.read-two-lines {
	margin-top: 5%;
}

.div-front-absolute-dataset .line-info-front-datasets{
	height: 2px;
    background: #f75405 ;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

.item-dataset{
	margin-bottom: 24px;
}
/*end datasets*/

/*account*/
.form-initial{
	display: initial;
}

#table-account th{
	font-size: 0.9em;
}

#table-account td{
	font-size: 0.9em;
}

#table-account td.td-table-account{
	font-size: 0.8em;
}

/* end account*/


/*dashboard*/

.input-group select.input-xs{
	height: 22px;
    line-height: 0px;
    padding: 0;
    font-size: 1em;
}

.input-group.my-group{
	min-width: 150px;
	width: 100%;
}

.input-edit-password{
	z-index: 10;
}

.error-input-edit-password{
	color:red;
	z-index: 1;
}

.input-edit-contact-info{
	z-index: 10;
}

.error-input-edit-info-contact{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: red;
    margin-left: 15px;
    margin-bottom: 0px;
    font-size: 0.9em;
    z-index: 1;
}

.link-dashboard, .link-dashboard:hover, .link-dashboard:focus{
    color: #f75405 ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background: none;
}

.table-dashboard th{
	font-size: 0.9em;
}

.table-dashboard td{
	font-size: 0.8em;
}

.tr-favorite-delete td {
   border-top: none !important;
   border-bottom: none !important;
}

.table>tbody+tbody{
	border: none;
}

.success > td{
	background-color: #CCCCCC  !important;
}

.btn-edit-name{
	padding: 0px 3px;
    font-size: 8px;
}
.edit-name-scenario{
	display: none;
}

.float-right{
	float: right;
}

.combo-dataset {
	height: 36px;
    padding: 3px 12px;
    font-size: 14px;
    line-height: 36px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 99%;
    margin: 1px;
/*     margin: 0px 15px 15px 0px; */
}

section.dashboard{
	background: #f6f6f6;
}

.no-providers{
	margin-bottom: 50px;
	margin-top: 150px;
}

.content-dashboard{
	background: #c2c2c2;
	/*background: url(../img/dashboard.png);*/
	height: 620px;
	border-radius: 5px 5px 0px 0px;
}
.title-favorites{
	font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #f75405 ;
    font-size: 1.2em;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.scenario-name-link{
	width: 15px;
	height: 15px;
}

#search-group{
	width: 300px;
	float: right;
}

.rm-favorite{
	color: #CCCCCC;
}

.btn-edit-name{
	visibility: hidden;
}

.edit-scenario{
	visibility: hidden;
}

.delete-scenario{
	visibility: hidden;
}

.table>thead>tr>th{
	border: none;
}

.tablesorter-no-sort>tr>td{
	border-right: 1px solid white !important;
	border-bottom: 1px solid white !important;
}

.tablesorter-no-sort>tr>td:last-child{
	border-right: 1px solid #ddd !important;
}

.decidere-logo{
	width: 220px;
	height: 50px ;
}

.table>tbody>tr>td{
	border-top: none !important;
}

.table-bordered{
	border-top: none;
}

/*end dashboard*/


/*footer*/
section.footer{
	background: #ffffff;
}

p.contact{
	color: #323233;
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.6em;
    margin-top: 65px;
    margin-bottom: 65px;
}

p.contact a{
	color: #323233;
	border-bottom: 2px solid #f75405 ;
}

p.contact a:hover{
	text-decoration: none;
}

p.contact a:focus{
	text-decoration: none;
}

.row.register{
	background: url(../img/background-register.jpg);
	min-height: 300px;
}

p.register{
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.6em;
    margin-top: 65px;
    margin-bottom: 40px;
    padding: 0px 50px;;
}

.row.nav-footer{
	min-height: 200px;
	background: #ffffff;
}

.content-nav-footer {
	margin-top: 90px;
}

.content-nav-footer a{
	display: inline-block;
	color: #f75405 ;
	text-transform: uppercase;
	vertical-align: 
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1.2em;
	padding:5px 20px;
	height:30px;
/*	width:200px; */
	vertical-align:middle;
	/*margin-right: 35px;*/
}

.content-text-footer {
	margin-top: 80px;
}

.content-text-footer p{
	color: #939392;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.05em;
	margin-bottom: 2px;
}
/*end footer*/

/* modal login*/
.content-spinner{
	position: fixed;
    top: 7em;
    right: 1em;
    z-index: 1000;
    display: none;
}

.status-login{
	color: red;
    font-size: 0.9em;
    margin: 0px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -10px;
}


.content-modal-login{
	background: #ffffff;
	margin-top: 58%;
}

.modal-dialog {
		margin-top: 10%;
	    /*width: 420px;
		padding: 13.5% 11.5%;
	    margin: 202px auto;*/
}

.modal-content{
	padding:8% 8% 8% 8%;
	padding:20px;
}

#shoppingMessageModal .modal-content{
	padding: 1% 1% 1% 1%;
}

#shoppingMessageModal .modal-footer{
	border: none;
}

.confirmShoppingMessage{
		float: left;
}

#dashboardMessageModal .modal-content{
	padding: 1% 1% 1% 1%;
}

#dashboardMessageModal .modal-footer{
	border: none;
}

#runScenarioModal .modal-content{
	padding: 1% 1% 1% 1%;
}

#runScenarioModal .modal-footer{
	border: none;
}

#editScenarioModal .modal-content{
	padding: 1% 1% 1% 1%;
}

#editScenarioModal .modal-footer{
	border: none;
}

.confirmDashBoardMessage{
	float: left;
}

.confirmRunScenarioMessage{
	float: left;
}

.confirmEditScenarioMessage{
	float: left;
}

.form-login{
	padding: 12px 20px;
	height: auto;
	border-radius: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin-bottom: 20px;
}

input[type=checkbox].form-check{
	margin: 0px 10px 20px 0px;
	height: 14px;
	width: 14px;
}

.text-check-form{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #949494;
	position: relative;
	top: -2px;
}

.link-forgot-password{
	color: #939392;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	float: right;
	margin-top: 10px;
	font-size: 1.1em;
}

.link-forgot-password:hover{
	text-decoration: none;
	color: #939392;
}

.link-forgot-password:focus{
	text-decoration: none;
	color: #939392;
}

.title-modal-login{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #fc6433;
	font-size: 1.5em;
	margin: 0px auto 20px auto;
}

.title-modal-login-contact{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #fc6433;
	font-size: 1.5em;
	margin: 0px auto 0px auto;
}

.submit-login{
	background: none;
    padding: 0px;
    box-shadow: none;
    border: none;
}
/*end modal login*/


/*Register*/
.form-login-checkbox#checkbox-subscribed{
	margin-left: 0px;
}

.div-check-subscribed{
	margin-top: 0px;

}

.regmenu {
	background:url(../img/cover.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	vertical-align:middle;
	height:16vh;
}

.regmenu2 {
	background:url(../img/cover.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	vertical-align:middle;
	padding-bottom: 40px;
}

.title-register{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #fc6433;
	font-size: 1.5em;
	margin-bottom: 55px;
}

.submit-register{
	background: none;
    padding: 0px;
    box-shadow: none;
    border: none;
    margin-top: 18px;
}

.submit-register:focus{
    outline: none;
}

.text-foot-register{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #d1d1d1;
	padding: 0px 2%;
	margin-top: 105px;
}

.sp-have-account{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #f6f6f6;
	padding:5px 15px 5px 15px; 
	/*margin-right: 30px;*/
}

.p-info-register{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #949494;
	margin-bottom: 13px;
}
.p-info-register.info-required{
	margin-bottom: 30px;
}
.error-input-register{
    top: -15px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: red;
    margin-left: 15px;
    margin-bottom: 0px;
    font-size: 0.9em;
}

.error-input-register-admin{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: red;
    margin-left: 15px;
    margin-bottom: 0px;
    font-size: 0.9em;
}

/*End register*/

/* --Shopping cart-- */
.status-check-coupon{
	color: red;
	font-family: 'Open Sans', sans-serif;
}

.btn-option-b{
	    margin-top: 5px;
    width: 110px;
    border-radius: 10px;
    height: 39px;
    font-size: 1.15em;
}
.row.item-dataset{
	border: solid #cecece 1px;
	border-radius: 5px;
	padding: 20px;
}

.item-dataset-premium{
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #323233;
	margin-bottom: 10px;
}
.sub-item-dataset-premium{
	width: 40px;
	height: 2px;
	background: #f75405 ;
	position: absolute;
}
.title-item-dataset-premium{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #f75405 ;
	margin-top: 40px;
}
.description-item-dataset-premium{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #797979;	
	margin-bottom: 30px;
}
.col-50{
	width: 50%;
	float: left;
}
.item-dataset-premium-price{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #323233;
	font-size: 1.5em;
	margin-bottom: 0px;
	line-height: 15px;
}
.item-dataset-premium-period{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #323233;
	font-size: 1em;
}
.item-dataset-premium-period span{
	color: #8f8f8f;
}
.f-right{
	text-align: right;
}
.title-shopping-cart{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #fc6433;
	font-size: 1.5em;
	margin: 0px 0px 10px 0px;
	text-align: left;
}
.content-title-shopping-cart{
	margin-top: 80px;
	margin-bottom: 30px;
}
.tabs-categories{
	border:none;
	margin-bottom: 35px;
}
.nav-tabs.tabs-categories>li>a {
    font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #f75405 ;
	font-size: 1.2em;
	padding: 10px 0px;
    margin: 0px 20px;
    line-height: 1.42857143;
    border: none;
    border-radius: none;
}
.nav-tabs.tabs-categories>li.active>a {
	border-bottom: 1px solid #f75405 ;
	font-weight: 700;
}
.nav-tabs.tabs-categories>li>a:hover {
	border-bottom: 1px solid #f75405 ;
	background: none;
}
.nav-tabs.tabs-categories>li.active>a:focus {
	color: #f75405 ;
	background: none;
	border: none;
	border-bottom: 1px solid #f75405 ;
}
.nav-tabs.tabs-categories>li.active>a:hover {
	color: #f75405 ;
	background: none;
	border: none;
	border-bottom: 1px solid #f75405 ;
}

.label-purchased{
	float: right;
	font-size: 20px;
}

/* --End Shopping cart-- */

/*--Dashboard--*/
.tabs-dashboard.tabs-categories{
	border:none;
	margin-bottom: 35px;
	margin-top: 40px;
}
.title-dashboard{
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #f75405 ;
/*     font-size: 2em; */
    text-align: center;
}

.title-dashboard a{
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #f75405 ;
    /*font-size: 2em;*/
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.title-dashboard a:hover{
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #f75405 ;
    /*font-size: 2em;*/
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.title-dashboard a:active{
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #f75405 ;
    /*font-size: 2em;*/
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.block-list-items-dashboard{
	margin-bottom: 40px;
}

.btn-myOrange{
	border:1.5px solid #F95503;
	background: #F95503;
	color:#fff;
	font-weight: 600;
	padding:15px 40px;
	font-size: 1.6em;
	border-radius: 5px;
	width: 280px;
}

.btn-myOrange:hover{
	color:#fff;
	text-decoration: none;
}

.btn-myOutline{
	border:1.5px solid darkgrey;
	color:#fff;
	font-weight: 600;
	padding:15px 40px;
	font-size: 1.6em;
	border-radius: 5px;
	width:180px;
}

.btn-myOutline:hover{
	color:#fff;
	text-decoration: none;
}

.btn-orange,
.btn-newScenario{
	border:none;
	background: #f75405;
    border-color: #f75405 ;
	color:#fff;
	font-weight: 600;
	padding:10px 15px;
    
}

.btn-orange {
}

.btn-margin-bottom{
	margin-bottom: 15px;
}


.btn-orange:hover,
.btn-newScenario:hover {
    background-color: #222;
    border-color: #222;
    color:#fff;
}
.btn-orange:focus,
.btn-newScenario:focus {
    background-color: #f75405;
    border-color: #f75405;
}
.btn-orange:active,
.btn-newScenario:active {
    background-color: #f75405;
    border-color: #f75405;
}
.btn-orange:active:focus,
.btn-newScenario:active:focus {
    background-color: #f75405;
    border-color: #f75405;
}


.btn-remove-favorite{
	vertical-align: middle !important;
}
.scenario-favorites tr:nth-child(even){
	background: #F5F5F5;
}
.subtitle-dashboard{
	font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #f75405 ;
    font-size: 1.2em;
    margin-top: 0px;
    text-align: left;
}
.link-scenario{
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #454b59;
	font-size: 1em;
	margin:0px 15px;
}
.link-scenario.new{
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #f75405 ;
	font-size: 1em;
	margin-top: 0px;
}
.title-scenarios{
	color: #949494;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin:20px 0px;
}

.row.content-scenarios{
	background: #ffffff;
    padding: 15px 0px;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    margin: 5px 0px;
    font-family: 'Open Sans', sans-serif;
	font-weight: 700;

}
/*--end Dashboard--*/

/*Contact*/
.submit-contact{
	border: 2px solid #8A8484;
    padding: 10px 15px;
    border-radius: 10px;
    background: none;
    font-family: 'Open Sans', sans-serif;
    color: #848484;
}

.submit-contact:hover{
	/*cursor: pointer;*/
}
/*End Contact*/

/* main sidenav*/
.main-sidebar{
	background: #716E6E;
}
.logo-sidenav-text{
	font-family: 'Open Sans', sans-serif;
    color: #f75405 ;
    font-size: 2.30em;
    font-weight: 600;
}

.ul-sidenav-btn-close{
	list-style: none;
	padding: 0px;
	margin-top: 100px;
}
.ul-sidenav-btn-close li{
	padding-left: 20%;
}
.ul-sidenav-btn-close li span{
	color: #ffffff;
}


/* Close Button */
/*
.ul-sidenav-btn-close {
	z-index:1002;
	list-style: none;
	width: 2em;
	height: 2em;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 1em;
	font-size: 0.75em;
	border: none;
	background: transparent;
	color: transparent;
}

.ul-sidenav-btn-close > li{
	padding-left: 20%;
}
.ul-sidenav-btn-close > li > a > span{
	color: #ffffff;
}

.ul-sidenav-btn-close::before,
.ul-sidenav-btn-close::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	background: #bdc3c7;
}

.ul-sidenav-btn-close::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.ul-sidenav-btn-close::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
*/
/** End Close Button **/

.ul-sidenav{
	list-style: none;
	padding: 0px;
	/*margin-top: 100px;*/
}
.ul-sidenav li{
	position: relative;
	display: flex;
}
.ul-sidenav li a{
	color: #ffffff;
    position: relative;
    padding: 1% 1% 1% 30%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    animation-duration: 0.4s;
    transition: all 0.4s ease-in-out;
    letter-spacing: 0px;
}
.ul-sidenav li a:hover{
	text-transform: none;
	/*background: #f75405 ;*/
	text-decoration: none;
	color: #f75405 ;
}
.btn-toggle-sidenav{
	/*position: fixed;
	z-index: 1000;*/
}
.ul-sidenav-second{
	list-style: none;
	padding: 0px;
	margin-top: 30px;
}
.ul-sidenav-second li{
	position: relative;
	display: flex;
}
.ul-sidenav-second li a{
	color: #ffffff;
    position: relative;
    padding: 0.5% 1% 0.5% 30%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    animation-duration: 0.4s;
    transition: all 0.4s ease-in-out;
    letter-spacing: 0px;
}

.ul-sidenav-second li a span.badge{
	background: red;
    font-size: 0.6em;
    margin-top: -10px;
    position: relative;
}

.ul-sidenav-second li a span.asterisk{
	color: red;
}

/*end sidenav*/

/*New Scenario*/
.progress{
	margin-bottom: 0px; 
}

.message-progress-bar{
	color: #B3040B;
	margin: 0px;
	padding: 0px;
	margin-bottom: 20px; 
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
}

div.has-error span.select2-selection {
  border-color: rgb(185, 74, 72) !important;
}

.content-button-save-top{
	position: relative;
}

.btn-save-top{
    text-align: center;
    margin: auto;
    padding-top: 10px;
}

th{word-wrap: break-word;}

.header-new-scenario{
	padding-top: 30px;
    padding-bottom: 40px;
}

.p20 {
	padding:20px !important;
}
.tab-content {
	background-color: #fff;
}

.tab-pane-newScenario{
/* 	padding-top: 30px; */
    border: 1px solid #DDDDDD;
    margin-bottom: 25px;
}
.content-chart{
	/*position: absolute;
	text-align: center;
	top:350px;
	left: 21%;*/
}
#chart-pie-weight-new-scenario{
	position: fixed;
    display: inline-block;
    right: auto;
    bottom: auto;
    z-index: 1000;  
}
#chart-pie-weight-new-scenario-more-less{
	position: fixed;
    display: inline-block;
    right: auto;
    bottom: auto;
    z-index: 1000;  
}
#chart-pie-weight-new-scenario-success{
	position: fixed;
    display: inline-block;
    right: auto;
    bottom: auto;
    z-index: 1000;  
}
#chart-pie-weight-new-scenario .amount-pie-chart{
	position: absolute;
    bottom: 35%;
    width: 100%;
    text-align: center;
}
#chart-pie-weight-new-scenario-more-less .amount-pie-chart{
	position: absolute;
    bottom: 35%;
    width: 100%;
    text-align: center;
}
#chart-pie-weight-new-scenario-success .amount-pie-chart{
	position: absolute;
    bottom: 35%;
    width: 100%;
    text-align: center;
}
.content-chart-sm{
	position: fixed;
    height: 25px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    padding: 0px 6px;
}
span.sr-only{
	position: relative;
}

.no-show{
	display: none;
}
.title-weighting-criteria{
	color: #337AB7;
	margin-bottom: 15px;
}

#link-tab-results {
	display: none;
	background: #f75405 ;
	border:1px solid  #f75405 ;
	color: #ffffff;
	position: relative;
	margin: 0 0 1px 0;
} 

#link-tab-results:hover{
	background: #f75405 ;
	color: #ffffff;
}
.subtitle-newscenario{
	display: inline;
}
.back-to-dashboard{
	float: right;
}

/*End New Scenario*/

/* Admin Login Form */
.form-2 {
    /* Size and position */
    /*width: 340px;*/
    margin: 60px auto 30px;
    padding: 15px;
    position: relative;

    /* Styles */
    background: #fffaf6;
    border-radius: 4px;
    color: #7e7975;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4); 
}

.form-2 h1 {
    font-size: 15px;
    font-weight: bold;
    color: #bdb5aa;
    padding-bottom: 8px;
    border-bottom: 1px solid #EBE6E2;
    text-shadow: 0 2px 0 rgba(255,255,255,0.8);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

.form-2 h1 .log-in,
.form-2 h1 .sign-up {
    display: inline-block;
    text-transform: uppercase;
}

.form-2 h1 .log-in {
    color: #6c6763;
    padding-right: 2px;
}

.form-2 h1 .sign-up {
    color: #ffb347;
    padding-left: 2px;
}

.form-2 .float {
    width: 50%;
    float: left;
    padding-top: 15px;
    border-top: 1px solid rgba(255,255,255,1);
}

.form-2 .float:first-of-type {
    padding-right: 5px;
}

.form-2 .float:last-of-type {
    padding-left: 5px;
}

.form-2 label {
    display: block;
    padding: 0 0 5px 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    font-size: 11px;
}

.form-2 label i {
    margin-right: 5px; /* Gap between icon and text */
    display: inline-block;
    width: 10px;
}

.form-2 input[type=text],
.form-2 input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    width: 100%;
    /*padding: 5px;*/
    margin-bottom: 5px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.form-2 input[type=text]:hover,
.form-2 input[type=password]:hover {
    border-color: #CCC;
}

.form-2 label:hover ~ input {
    border-color: #CCC;
}

.form-2 input[type=text]:focus,
.form-2 input[type=password]:focus {
    border-color: #BBB;
    outline: none; /* Remove Chrome's outline */
}

.form-2 input[type=submit],
.form-2 .log-twitter {
    /* Size and position */
    width: 49%;
    height: 38px;
    float: left;
    position: relative;

    /* Styles */
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer;

    /* Font styles */
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 38px; /* Same as height */
    text-align: center;
    font-weight: bold;
}

.form-2 input[type=submit] {
    margin-left: 1%;
    background: #fbd568; /* Fallback */
    background: -moz-linear-gradient(#fbd568, #ffb347);
    background: -ms-linear-gradient(#fbd568, #ffb347);
    background: -o-linear-gradient(#fbd568, #ffb347);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fbd568), to(#ffb347));
    background: -webkit-linear-gradient(#fbd568, #ffb347);
    background: linear-gradient(#fbd568, #ffb347);
    border: 1px solid #f4ab4c;
    color: #996319;
    text-shadow: 0 1px rgba(255,255,255,0.3);
}

.form-2 .log-twitter {
    margin-right: 1%;
    background: #34a5cf; /* Fallback */
    background: -moz-linear-gradient(#34a5cf, #2a8ac4);
    background: -ms-linear-gradient(#34a5cf, #2a8ac4);
    background: -o-linear-gradient(#34a5cf, #2a8ac4);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#34a5cf), to(#2a8ac4));
    background: -webkit-linear-gradient(#34a5cf, #2a8ac4);
    background: linear-gradient(#34a5cf, #2a8ac4);
    border: 1px solid #2b8bc7;
    color: #ffffff;
    text-shadow: 0 -1px rgba(0,0,0,0.3);
    text-decoration: none;
}

.form-2 input[type=submit]:hover,
.form-2 .log-twitter:hover {
    box-shadow: 
        inset 0 1px rgba(255,255,255,0.3), 
        inset 0 20px 40px rgba(255,255,255,0.15);
}

.form-2 input[type=submit]:active,
.form-2 .log-twitter:active{
    top: 1px;
}

/* Fallback fro broswers that don't support box shadows */
.no-boxshadow .form-2 input[type=submit]:hover {
    background: #ffb347;
}

.no-boxshadow .form-2 .log-twitter:hover {
    background: #2a8ac4;
}

.form-2 p:last-of-type {
    clear: both;    
}

.form-2 .opt {
    text-align: right;
    margin-right: 3px;
}

.form-2 label[for=showPassword] {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: 400;
    text-transform: capitalize;
}

.form-2 input[type=checkbox] {
    vertical-align: middle;
    margin: -1px 5px 0 1px;
}

/*End Admin Login Form */


/*Shopping cart*/
.delete-item-car {
    font-size: 1.9em;
    color: rgba(247, 61, 61, 0.95);
}
.delete-item-car:hover {
    color: rgba(229, 0, 0, 0.95);
}


.flotante {
    display: scroll;
    position: fixed;
    top: 5em;
    right: 0em;
    z-index: 1000;
    font-size: 2.5em;
    padding: 0.2em 0.3em;
    color: rgba(13,13,26,0.95);
}

.flotante b {
	font-family: 'Open Sans', sans-serif;
    font-weight: 600; 
}	


.content-item-car {
    margin: 7px 0px;
    vertical-align: middle;
    border-bottom: 1px solid rgba(13,13,26,0.95);
    padding: 5px 0px 7px 0px;
}
/*End shopping cart*/

/*admin user*/
.btn-admin-user {
	margin-top: 25px;
}

.user-table-header{
	border: 1px solid #ddd !important;
}

/*end admin user*/

/*terms and conditions*/
.text-indent{
	text-indent: 2em;
}
.text-indent-2{
	text-indent: 4em;
}
/*end terms and conditions*/


/*rewrite dashboard*/
#ulTabsDashboard{
	position: relative;
}

.text-save-help{
	position: absolute;
    top: -150px;
    float: right;
    right: -1px;
    padding: 0px;
}

/*rewrite dashboard*/


.p10 {padding:10px;}
.p20 {padding:10px;}

div.dt-buttons {
	padding:10px;
	border-bottom:1px solid #ddd;
	width:100%;
}

a.dt-button  {
    background: #337ab7;
    border-color: #2e6da4;
}

a.dt-button > span  {
    color: #fff;
    background-color: #337ab7;
}

.dt-button:hover  {
    background: #337ab7 !important;
    border-color: #2e6da4 !important;
}
.dt-button:hover span {
    background: #337ab7 !important;
}




div.dt-buttons .caption {
	float: right;
	padding:0 10px;
	line-height: 35px;	
	font-weight: 600;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #333;
    padding:10px;
}



.paginate_button {
    background: #fff;
    border-color: #fff;
	
}

.paginate_button.current,
.paginate_button:hover {
    background: #337ab7 !important;
    border-color: #2e6da4 !important;
	color:#fff !important;
	
}


.paginate_button.current span,
.paginate_button:hover span {
	color:#fff !important;
}

.dropdown-menu {
	padding:10px;
}
.dropdown-menu .btn {
	width:48%;
	margin:0 2px 2px 0;
   	font-weight:800;
	
}





.nav-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	
	align-items:center;
	justify-content: center;
	align-self:center;
	
	width:100%;
	max-width: 1140px;
	margin: 0 auto;
	padding:10px;
}

.nav-flex .flex-item {
	order:0;
	flex-grow:0;
	margin: 1px;
}

.nav-flex .flex-item label {
	padding:10px 0;
	margin:0;
	font-weight: 400;
	color:#fff;
}


.nav-flex .flex-item:nth-child(2) {
	flex-grow:3;
}

.nav-flex .flex-item:nth-child(3) a {
	padding:16px 0;
}

.nav-flex .flex-item  a { 
	display: block;
	width:100%;
/* 	white-space: nowrap; */
	padding:10px;
	text-align: center;
}

.nav-flex .flex-item > a > img.decidere-logo {
	margin: 0 auto;
	width:200px !important;
	margin-left: 90px;
}

span.dropdown > .dropdown-menu {
	right: -24px !important;
	left: auto;
}


.nav-tabs li > a {
	background: rgba(255,255,255,0.4);
}

.nav-tabs li a {
	color:#fff;
}

.tab-pane {
	background-color: #fff;
	box-shadow: 0 10px 20px #000;
	
}

.subtitle-newscenario {
	color:#fff;
}


.container-background {
	background-color: #fff;
	box-shadow: 0 10px 20px #000;
	margin: 20px auto;
}

/*body {
	background-image: url('/img/filter.jpg');
	background-size:cover;
	background-position: top center;
	background-repeat: no-repeat;
}*/

body {
	/*background-image: url('/img/filter.jpg');*/
	background-image: url('/img/layout_option_1.jpg');
	/*background-size:cover;*/
	background-position: top center;
	/*background-repeat: no-repeat;*/
	background-repeat: repeat;
}

.dashboard-header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	margin: 20px;
}
.dashboard-header-item {
	flex-grow: 1;
	width:20%;
	order:0;
}

.dashboard-header-item:nth-child(1) {
	flex-grow: 3;
	text-align: center;
}

.dashboard-header-item:nth-child(3) {
	flex-grow: 3;
	width:200%;
	text-align: center;
}

.dashboard-header-item:nth-child(3) h1 {
	font-size: 32px;
}

.dashboard-header-item:nth-child(4) {
	width:100%;
}

.help-icon-container {
	display: inline-block;
	height:30px;
	width:30px;
}

.help-icon {
	height:24px;
	width:24px;
	
}

.help-icon span {
	font-size: 25px;
	color:#337ab7;
	line-height: 30px;
	cursor: pointer;
	margin: 4px 0 0 0;
}

.help-icon:hover span {
	color:#f75405;
}

input.narrow {
	display: inline-block;
	width:80% !important;
}



/*iphone 6 plus*/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) { 
	

	
	.navigation .container {
	    padding: 20px;
	}		
	.dropdown-menu {
		left:-30px;	
	}
	.dropdown-menu .btn {
		width:100% !important;
	}

 }

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) { 
	
	.navigation .container {
	    padding: 20px;
	}		
	.dropdown-menu {
		left:-130px;	
	}
	.dropdown-menu .btn {
		width:100% !important;
	}

}


/*Iphone 6*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 

	.nav-flex .flex-item > a > img.decidere-logo {
		margin: 0 auto;
		width:200px !important;
	}

	.navigation .container {
	    padding: 20px;
	}		
	.dropdown-menu {
		left:-20px;	
	}
	.dropdown-menu .btn {
		width:100% !important;
	}
 }

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) { 

	.nav-flex .flex-item > a > img.decidere-logo {
		margin: 0 auto;
		width:200px !important;
	}

	.dropdown-menu .btn {
		width:100% !important;
	}
}






/* Galaxy Note 4 */
@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 640px) 
and (orientation : portrait) { 
	

	.navigation{
    	height:22vh;
    	background: none;
    }
    	
	.nav-flex .flex-item {
		height: 30px;
	}
	.nav-flex .flex-item:nth-child(4) {
	}
	
	.nav-flex .flex-item:nth-child(4) a {
	}

	.nav-flex .flex-item > a > img.decidere-logo {
		margin: 0 auto;
		width:120px !important;
		height: auto;
	}

	span.dropdown > .dropdown-menu {
		left:-150px !important;
	}

	.nav>li>a {
		padding:5px 5px !important;
	    font-size: 12px;
	}
	
	#link-tab-results {
		padding:5px 5px !important;
	    font-size: 12px;
	}
	.btn {
	    padding: 5px 5px;
	    font-size: 12px;
	}

	h1.title-dashboard {
		font-size: 26px;
	}
	#search-group {
		border:1px solid #ddd;
		border-bottom:none;
		padding:10px;
		width:100%;
		background: #fff;
	}	


	/* Dashboard Header Flex Styling */	
	.dashboard-header {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 10px;
	}
	.dashboard-header-item {
		order:1;
		flex-grow: 1;
		width:20%;
		align-self:center;
	}

	.dashboard-header-item button {
		width: 99%;
	}

	/* Expand Button */
	.dashboard-header-item:nth-child(1) {
		order:4;
		width:50%;
	}

	/* Collapse Button */
	.dashboard-header-item:nth-child(2) {
		order:5;
		width:50%;
	}
	
	/* Header Caption */
	.dashboard-header-item:nth-child(3) {
		order:1;
		width:100%;
		flex-grow: 3;
		text-align: center;
	}
	
	/* Header Caption */
	.dashboard-header-item:nth-child(3) h1 {
		font-size: 30px;
	}

	/* Period Selector */
	.dashboard-header-item:nth-child(4) {
		order:2;
		width:50%;
	}
	/* New Scenario Button */
	.dashboard-header-item:nth-child(5) {
		order:3;
		width:50%;
	}
	



	#btnSubmitScenario:before {
		content:'Run';
	}

	#btnSubmitScenario > span {
		display: none;
	}

	
	#savePrototype:before {
		content:'Save';
	}

	#savePrototype > span {
		display: none;
	}

	
	.navigation .container {
	    padding: 20px;
	}		
	
	.dropdown-menu {
		left:-150px;	
	}
	.dropdown-menu .btn {
		width:100% !important;
		height: 36px !important;
	}


 }

@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 640px) 
and (orientation : landscape) { 
	
	
	#search-group {
		border:1px solid #ddd;
		border-bottom:none;
		padding:10px;
		width:100%;
		background: #fff;
	}	
	
	.navigation{
    	height:22vh;
    	background: none;
    }

	
	.navigation .container {
	    padding: 20px;
	}		
	.dropdown-menu .btn {
		width:100% !important;
		height: 36px !important;
	}


	.nav-flex .flex-item > a > img.decidere-logo {
		margin: 0 auto;
		width:120px !important;
		height: auto;
	}

	span.dropdown > .dropdown-menu {
		left:-130px !important;
	}



	.nav>li>a {
		padding:5px 5px !important;
	    font-size: 12px;
	}
	
	#link-tab-results {
		padding:5px 5px !important;
	    font-size: 12px;
	}
	.btn {
	    padding: 5px 5px;
	    font-size: 12px;
	}

	
	/* Dashboard Header Flex Styling */	
	.dashboard-header {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 10px;
	}
	.dashboard-header-item {
		order:1;
		flex-grow: 1;
		width:20%;
		align-self:center;
	}

	.dashboard-header-item button {
		width: 99%;
	}

	/* Expand Button */
	.dashboard-header-item:nth-child(1) {
		order:4;
		width:50%;
	}

	/* Collapse Button */
	.dashboard-header-item:nth-child(2) {
		order:5;
		width:50%;
	}
	
	/* Header Caption */
	.dashboard-header-item:nth-child(3) {
		order:1;
		width:100%;
		flex-grow: 3;
		text-align: center;
	}
	
	/* Header Caption */
	.dashboard-header-item:nth-child(3) h1 {
		font-size: 24px;
		margin: 10px auto 20px auto;
	}

	/* Period Selector */
	.dashboard-header-item:nth-child(4) {
		order:2;
		width:50%;
	}
	/* New Scenario Button */
	.dashboard-header-item:nth-child(5) {
		order:3;
		width:50%;
	}




	
	#link-tab-results {
		padding:5px 10px !important;
	}

	.btn {
/* 		height: 36px !important; */
	}

	h1.title-dashboard {
		font-size: 26px;
	}	
	

}

